name: cool_animation_flutter
description: "A package for easily applying cool animations"
version: 0.0.1
homepage: https://github.com/yundal8755/cool_animation_flutter

environment:
  sdk: ">=3.4.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  visibility_detector: ^0.4.0+2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
